.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.formContainer button{
    background-color: green;
    color: azure;
    border-radius: 5px;
}