.toggleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}

.toggleContainer .passwordLabel{
    font-family: Arial, sans-serif;
    font-size: 16px;
}   

.toggleContainer input{
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button{
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}   
