.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 5px;
}

.active {
    background-color: #4caf50;
    color: white;
}
